/*!
Theme Name: Novasolutions
Theme URI: http://underscores.me/
Author: Petrit
Author URI: http://creativecrew.mk/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: novasolutions
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Novasolutions is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

//  imports
@import 'node_modules/bootstrap/scss/bootstrap';  
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

$tomato: #e65225;


html {
  max-width: 100%;
  overflow-x: hidden;
}

header {
  box-shadow: none !important;
}

.wp-block-columns {
  display: flex;
  @include media-breakpoint-down(md) {
      display: block;
  }
}

.wp-block-column {
  flex: 1;
  padding-right: 15px;
  padding-left: 15px;
}

.contact_button {
  &:after {
    content: "";
    position: absolute;
    width: 270px;
    height: 5px;
    right: 15px;
    background: $tomato;
  }

  &:hover  {
    &:after {
      width: 150px;
      content: '';
    }
  }

}


span.navbar-nav {
  cursor: pointer;
  @include media-breakpoint-down(md) {
    padding: 0 15px;
  }
}

.site-header.fixed-top {
  transition: all 300ms ease-in-out;
}

.fix-height {
    max-height: 750px;
    overflow: hidden;
    width: 100%;
	
	img {
		top: -170px;
		position: relative;

      @include media-breakpoint-down(md) {
        top: 0;
      }

    }
}

.portfolio {
	max-height: 390px;
    overflow: hidden;
}
.year {
  position: relative;
  left: 113px;
  font-weight: 900;
  font-size: 19px;
  color: $tomato;
}

.menu-bottom {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;

  @include media-breakpoint-up(md) {
    width: 29.3%;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
  }


  li a {
    font-size: 19px !important;
    font-weight: 600 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 2.79 !important;
    letter-spacing: normal !important;
    text-align: left;
    color: #6d6f72 !important;
  }
}

ul.social_header {
  i {
    color: #fff;
  }
  i:first-child {
    padding-left: 0 !important;
  }
  a {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #6d6f72;
    text-align: -webkit-right;
    line-height: 3.143rem !important;
    width: 46px;
    height: 46px;
    font-size: 26px !important;
    border: 0.143rem solid #FFF;
    padding: 0 10px;
  }
}

.service {
  &:hover {
    background: $tomato;
    h2 {
      color: #fff !important;
    }
    span {
      color: #fff !important;
      border-bottom: 5px solid #fff;
    }
    .service_wrap {
      background: $tomato;
      color: white;
    }
  }
  .service_wrap {
    .row {
      padding: 0px 80px;
    }
    div {
      padding: 20px 0;
    }
    p {
      font-size: 19px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.68;
      letter-spacing: normal;
      text-align: left;
    }
  }
}

.navbar-nav {
  i {
    font-size: 22px;
  }
}

.team_wrap {
  .employee-image {
    display: block;
  }

  h4 {
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: right;
  }
  .employee-image-hover {
    display: none;
  }

  &:hover {
    .employee-image {
      display: none;
    }
    .employee-image-hover {
      display: block;
    }
  }
}

.activities-inside {

  .slick-slide {

    &:focus {
      outline: none;
    }

    max-height: 700px;
    padding: 0 30px;
    cursor: pointer;

    .image_wrap {
      max-height: 500px;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;

      &:focus {
        outline: none;
      }
    }

  }

  .slick-current {
    outline: none;
  }
}

.logo {
  img {
    width: auto;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #605e62d1;
  overflow-x: hidden;
  transition: all 180ms ease-in;
}

ul.overlay-content {
    left: 35%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    width: 35%;
    background: white;
	list-style-type: none;

  @include media-breakpoint-down(md) {
    left: 0;
    width: 100%;
  }
}

.main-li {
  text-align: left;
  padding: 0 100px;

  &:first-child {
    margin-top: 100px;
  }
}


.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.overlay {
  li {
    a {
      font-family: 'Poppins', sans-serif;
      font-size: 33px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 8.5vh;
      letter-spacing: normal;
      color: $tomato;

      @include media-breakpoint-down(md) {
        font-size: 24px;
        line-height: 2.2;
      }

    }
  }
}

i.fas.fa-spinner.fa-spin {
  position: absolute;
  top: 30%;
  right: 50%;
  font-size: 40px;
  color: red;
  z-index: 1111;
}

.overlay {
  .closebtn_text {
    position: absolute;
    top: 32px;
    right: 45px;
    z-index:1;
    color: $tomato;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    padding-right: 50px;
  }

  .closebtn {
    position: absolute;
    top: 40px;
    right: 45px;
    font-size: 60px;
    z-index:1;
    color: #6d6f72;
  }
}

.portfolio_filter {
  padding: 20px 0;
}

.list-unstyled {

  h3 {
    font-size: 29px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.64px;
    color: #fff;
    line-height: 55px;
  }

  li {
    transition: transform .2s;
    cursor: context-menu;
    &:hover  {
      h3 {
        font-size: 40px;

      }
      span {
        border-bottom: 5px solid;
      }
    }
  }
}

.ourwork {
  h2 {
    font-size: 22px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.5;
    letter-spacing: .48px;
  }
}

.paginator-center {
  position: relative;
  bottom: 460px;
  left: 20px;

  @include media-breakpoint-down(sm) {
    display: none;
  }


  i {
    font-size: 50px;
    color: $tomato;
    padding-right: 30px;
    cursor: pointer;
  }
}
.team_wrap {
  padding-bottom: 100px;
  @include media-breakpoint-down(md) {
    padding-bottom: 20px;
    padding-right: 20px;
  }

}

h4.text-white.d-inline-block {
  &::after {
    bottom: -10px;
    height: 5px;
    color: #fff;
    width: 110%;
    right: 0;
    background-color: #fff;
    content: '';
    position: absolute;
  }
}

.meetTeam-aboutUs:hover h4.text-white.d-inline-block::after {
  width: 65%;
  content: '';
}

h4.slider.d-inline-block {

  font-size: 23px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;

  &::after {
    bottom: -10px;
    height: 5px;
    color: #6d6f72;
    width: 110%;
    left: 0;
    background-color: #6d6f72;
    content: '';
    position: absolute;
  }
}

.slider_links {
  a {
    color: #6d6f72;
  }
}

.slider_links:hover h4.slider.d-inline-block::after {
  width: 65%;
  content: '';
}

.footer-top {
  cursor: pointer;
  &:hover {
    i {
      font-size: 60px;
    }
  }
  a {
    color: #fff;

    &:visited{
      color: #fff;
    }
    &:hover{
      color: #fff;
    }
    &:active{
      color: #fff;
    }
    &:focus{
      color: #fff;
    }
  }
}

.arrow-right {
  display: inline-block;
  position: absolute;
  top: 25px;
  font-size: 50px;
  text-align: right;
  right: 5%;
  width: 100%;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: transparent;
  border: 1px solid transparent;
  outline: 3px solid $tomato;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  z-index: 1;

  &:hover {
    background: $tomato;
  }

  &:checked {
    background: $tomato;
    //outline: none;

    &:before {
      height: 20px;
      width: 20px;
      position: absolute;
      content: '✔';
      display: inline-block;
      font-size: 16.66667px;
      text-align: center;
      line-height: 20px;
    }

  }

  &.radio {
    border-radius: 50%;

    &::after {
      border-radius: 50%;
    }
  }
}

@media (max-width: 991.98px) {
  .portfolio_filter {
    padding: 30px 30px;
  }
}

h4.text-orange {
  font-size: 38px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
}

h4.text-orange.d-inline-block {
  &::after {
    bottom: -10px;
    height: 5px;
    color: $tomato;
    width: 110%;
    right: 0;
    background-color: $tomato;
    content: '';
    position: absolute;
  }
}

.paddingright:hover h4.text-orange.d-inline-block::after {
  width: 65%;
  content: '';
}

.slick-slide h4.text-orange::after {
    bottom: 0;
    height: 5px;
    color: $tomato;
    width: 110%;
    left: 15px;
    background-color: $tomato;
    content: '';
    position: absolute;
}

.slick-slide:hover h4.text-orange::after {
  width: 65%;
  content: '';
}

.portfolio_class {
	color: $tomato;

    img {
      height: auto;
    }

	p {
		font-size: 22px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
	}
}

.portfolio_wrap {
  &:hover  {
    img {
      opacity: 0.5;
    }
  }

  p {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
  }
}

.feature_portfolio {
    max-height: 700px;
    overflow: hidden;
}

input {
    border: solid 1px #6d6f72;
    padding: 19px 15px;
    margin: 10px 0;
    width: 100%;

	&:focus {
		outline: $tomato solid 3px;
		border: 1px solid transparent;

		&::-webkit-input-placeholder {
			color: transparent;
		}
		&:-ms-input-placeholder {
			color: transparent;
		}
		&::placeholder {
			color: transparent;
		}
	}
}

textarea {
    border: solid 1px #6d6f72;
	width: 100%;
	padding: 13px 15px;
    height: 215px;
    margin: 10px 0 0 0;

	&:focus {
		outline: $tomato solid 3px;
		border: 1px solid transparent;

		&::-webkit-input-placeholder {
			color: transparent;
		}
		&:-ms-input-placeholder {
			color: transparent;
		}
		&::placeholder {
			color: transparent;
		}
	}
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: transparent;
  border: none;
  color: $tomato;
  padding: 10px 2px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 32px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: right;

	  &::after {
		bottom: 0;
		height: 5px;
		color: red;
		width: 110%;
		left: 15px;
		background-color: $tomato;
		content: '';
		position: absolute;
	}

	&hover ::after {
	  width: 65%;
	  content: '';
	}

    &:focus {
        outline: none !important;
    }
}

::-webkit-input-placeholder { /* Edge */
  color: #6d6f72;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #6d6f72;
}

::placeholder {
  color: #6d6f72;
}

.portfolio_wrap h4.text-orange::after {
    bottom: -20px;
    height: 5px;
    color: red;
    width: 110%;
    left: 0;
    background-color: $tomato;
    content: '';
    position: absolute;
}

.position_class {
    position: relative;
}

.portfolio_wrap:hover h4.text-orange::after {
  width: 65%;
  content: '';
}

.form-check {
  padding: 10px 0px 14px 30px;
}

#portfolio_sidebar {
  padding: 0px 0px 0px 60px;
}

.form-check label {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.3;
  letter-spacing: normal;
  text-align: left;
  color: #6d6f72;
  padding: 0 15px;
}


.bounce-enter-active {
  animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.ourwork-inside {

	.slick-slide {
		max-height: 720px;
		padding: 0 30px;
		cursor: pointer;

		& .portfolio_wrap {
			& .description_warp {
				display: none;
			}
			&:hover {
				.image_wrap {
					opacity: 0.6;
				}
			}
		}

		&.slick-current {
			& .portfolio_wrap {
				& .description_warp {
					display: flex;
				}
			}
		}
	}

	.image_wrap {
		max-height: 500px;
		overflow: hidden;
	}
}

.slick-slide {
  img, div  {
    &:focus {
      outline: none;
    }
  }
}

/* Slider */
.slick-slider {

  p {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;

    b {
      font-size: 26px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.62;
      letter-spacing: normal;
      text-align: left;
    }
  }

  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

html {
    font-size: 14px;
}


/* Slider */

/* Icons */
@font-face
{
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
  opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  opacity: .75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
  left: -25px;
}
[dir='rtl'] .slick-prev
{
  right: -25px;
  left: auto;
}
.slick-prev:before
{
  content: '←';
}
[dir='rtl'] .slick-prev:before
{
  content: '→';
}

.slick-next
{
  right: -25px;
}
[dir='rtl'] .slick-next
{
  right: auto;
  left: -25px;
}
.slick-next:before
{
  content: '→';
}
[dir='rtl'] .slick-next:before
{
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: .25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  opacity: 1;
  color: black;
}

.slick-dots li.slick-active button:after {
  content: '';
  height: 5px;
  width: 15px;
  background: #fff;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 130%;
    position: relative;
    overflow-x: hidden !important;
    color: #434343;
    background-color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.05rem;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

/** =============================================================== **/
/** Standard Bootstrap CSS **/
/** =============================================================== **/

a {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-decoration: none;
    color: #434343;
}

a:hover {
    text-decoration: none;
    color: #434343;
}

img{
	width: 100%;
}
button {
    border: none;
    outline: none !important;
}

.image-auto {
    width: auto;
    max-width: 100%;
}

.image-full {
    width: 100%;
    max-width: 100%;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-bold,
strong,
b {
    font-weight: 800;
}

.font-extrabolt {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

h1,
.h1 {
    font-size: 4.786rem; /* 67px */
    line-height: 120%;
    font-weight: 800;
}



h2, {
  &.text-orange {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
  }

  .h2 {
    font-size: 2.571rem; /* 36px */
    line-height: 120%;
    font-weight: 700;
  }
}

h3,
.h3  {
    font-size: 2.071rem; /* 29px */
    line-height: 120%;
    font-weight: 500;
}

h4,
.h4  {
    font-size: 1.571rem; /* 22px */
    line-height: 120%;
    font-weight: 500;
}

.text-orange {
    color: #e65225!important;
}

.text-grey {
    color: #6d6f72!important;
}

.overflow-x {
    overflow-x: hidden!important;
}

.form-control,
.form-control:focus {
    background-color: #FFF;
    -webkit-border-radius: 2.714rem;
    -moz-border-radius: 2.714rem;
    border-radius: 2.714rem;
    border: 0.143rem solid #525356;
    padding: 0.714rem 1.429rem;
    font-size: 0.857rem;
    line-height: 120%;
    color: #525356;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-height: 2.714rem;
    font-weight: 400;
    background-clip: border-box;
}

.form-control.error,
.form-control.error:focus {
    border-color: #F80000!important;
}

.text-error,
.error {
    font-size: 0.940rem;
    line-height: 120%;
    color: #F80000;
    font-weight: 400!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent!important;
}

.form-control::-webkit-input-placeholder {
    /* Edge */
    color: #cacbca;
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cacbca;
}

.form-control:-moz-placeholder {
    color: #cacbca;
}

.form-control::-moz-placeholder {
    color: #cacbca;
}

.form-control::-ms-input-placeholder {
    color: #cacbca;
}

.form-control::placeholder {
    color: #cacbca;
}

textarea.form-control,
textarea.form-control:focus {
    height: 150px;
    resize: none;
}
.btn {
    width: auto;
    max-width: 100%;
    height: auto;
    font-weight: 700;
    color: #6d6f72;
    font-size: 0.714rem;
    text-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    border-bottom: 1px solid #6d6f72;
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding:0;
    border-radius: 0;
    padding-right: .2rem;
}


.btn:hover,
.btn.focus,
.btn:focus {
     padding-right: 0.7rem;
    background-color: transparent;
    color: #6d6f72;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.btn.more {
    width: auto;
    max-width: 100%;
    height: auto;
    font-weight: 700;
    font-size: 0.714rem;
    text-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    border-bottom: 1px solid  #ff5221;
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding:0;
    border-radius: 0;
    padding-left: .7rem;
}

.btn.more:hover,
.btn.more.focus,
.btn.more:focus {
     padding-left: 1.5rem;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.btn.more.orange {
    color: #ff5221;
    font-size: 1.286rem;
}

.btn.more.orange:hover,
.btn.more.orange.focus,
.btn.more.orange:focus {
     padding-left: 1.5rem;
}

.btn.more.yellow {
    border-color: #FFF;
    background-color: #FFF;
    color: #ffe03d;
}

.btn.more.yellow:hover,
.btn.more.yellow.focus,
.btn.more.yellow:focus {
    border-color: #FFF;
    background-color: #ffe03d;
    color: #FFF;
}

.btn.more.white {
    border-color: #FFF;
    background-color: #FFF;
    color: #b4b4b4;
}

.btn.more.white:hover,
.btn.more.white.focus,
.btn.more.white:focus {
    border-color: #FFF;
    background-color: #b4b4b4;
    color: #FFF;
}

.btn.more.grey {
    border-color: #FFF;
    background-color: #FFF;
    color: #666666;
}

.btn.more.grey:hover,
.btn.more.grey.focus,
.btn.more.grey:focus {
    border-color: #FFF;
    background-color: #666666;
    color: #FFF;
}


.text-shadow {
    text-shadow: 1px 3px 5px rgba(0,0,0,.3);
}

/* Custom Checkboxes */

.checkbox label,
.radio label {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    padding-left: 2.821rem;
    position: relative;
    cursor: pointer;
    font-size: 1.282rem;
    line-height: 125%;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 0;
}

.radio label {
    padding-left: 1.5rem;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #969696;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 1.880rem;
    height: 1.880rem;
    border: 1px solid #FFF;
    background-color: transparent;
    float: left;
    margin-right: 1em;
    background-color: #FFF;
    position: absolute;
    left: 0;
    top: -0.2rem;
}

.radio .cr {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 1.538rem;
    height: 1.538rem;
    top: -0.171rem;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    left: 2px;
    top: 0px;
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    width: 1.538rem;
    height: 1.538rem;
    text-align: center;
    line-height: 1.538rem;
    color: #000;
    font-size: 1.1rem;
}

.radio .cr {
    border-color: #1A1733;
}

.radio .cr .cr-icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 1.880rem;
    height: 1.880rem;
    top: 1px;
    left: 1px;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    -webkit-transform: scale(1) rotateZ(-20deg);
    -moz-transform: scale(1) rotateZ(-20deg);
    -ms-transform: scale(1) rotate(-20deg);
    -o-transform: scale(1) rotateZ(-20deg);
    transform: scale(1) rotateZ(-20deg);
    opacity: 0;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.radio label input[type="radio"]:checked+.cr>.cr-icon {
    border: 1px solid #CF565C;
    background-color: #CF565C;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    -webkit-transform: scale(1) rotateZ(0deg);
    -moz-transform: scale(1) rotateZ(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotateZ(0deg);
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
}

/** =============================================================== **/
/** Main styles **/
/** =============================================================== **/

header {
    position: -webkit-sticky;
    position: sticky;
    /*position: relative;*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
    background-color: #FFF;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-box-shadow: 0px 4px 16px -6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 16px -6px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 16px -6px rgba(0,0,0,0.25);
}

header * {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

header.pin {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    height: 75px;
}

header .navbar {
    padding: 0;
    margin: 0;
}

header .navbar .nav-item {
    padding: 0;
    position: relative;
    list-style: none;
}

header .navbar .nav-item:first-child {
    padding-left: 0;
}

/*header .navbar .nav-item:last-child {
    padding-right: 0;
    border-right: none;
}*/

header .navbar-nav .nav-link {
    padding: 0!important;
    margin: 0;
    font-size: 0.893rem;
    line-height: 120%;
    font-weight: 800;
    color: #E65225;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
}


header .nav-link:focus,
header .nav-link:hover,
header .nav-link:active,
header .nav-link.active,
header .show .nav-link
 {
    text-decoration: none;
    color: #E65225;
    font-weight: bold;
}


header .main-buttons .list-inline-item:not(:last-child) {
    padding-right: 0.2rem;
}

header .main-buttons {
    font-size: 1.3rem;
}

footer .list-inline-item:not(:last-child) {
  margin-right: 2.5rem;
}

header .main-buttons a:hover .fas,
header .main-buttons .dropdown .dropdown-toggle:hover,
header .main-buttons .dropdown.show .dropdown-toggle {
    color: #f16122;
}

header .main-buttons .cart {
    position: relative;
}

header .main-buttons .cart span {
    display: inline-block;
    min-width: 1.143rem;
    height: 1.143rem;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    text-align: center;
    line-height: 1.143rem;
    color: #FFF;
    background-color: #f16122;
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    right: -0.500rem;
    top: -0.357rem;
    padding: 0 0.3rem;
}

header .main-buttons .dropdown .dropdown-toggle {
    font-weight: 800;
    color: #434343;
    text-transform: uppercase;
    font-size: 12.5px;
    line-height: 110%;
}

header .main-buttons .dropdown .dropdown-toggle:after {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header .main-buttons .dropdown .dropdown-menu {
    min-width: 50px;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}


header .main-buttons .dropdown .dropdown-item {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    text-align: center;
}

header .main-buttons .dropdown .dropdown-item.active,
header .main-buttons .dropdown .dropdown-item:active,
header .main-buttons .dropdown .dropdown-item:focus,
header .main-buttons .dropdown .dropdown-item:hover {
    background-color: #f16122;
    color: #FFF;
}

.navbar-collapse {
    position: absolute;
    left: -285px;
    top: 66px;
    z-index: 1000;
    width: 343px;
    background-color: #fff;
    -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 .3rem 0.5rem rgba(0, 0, 0, .25);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, .25);
    text-align: left !important;
}

.border-menu {
    border-top: 4px solid #707070;
}
.navbar-expand-lg .navbar-collapse {
    display: block !important;
}

.hamburger-menu {
  background: url("images/burger.png");
  height: 30px;
  width: 100px;
  background-repeat: no-repeat;
}

.navbar-nav:hover  {
  .hamburger-menu {
    background: url("images/burger_hover.png");
    height: 30px;
    width: 100px;
    background-repeat: no-repeat;
  }
}

.position-md-fixed {
  @include media-breakpoint-up(md) {
    position: fixed !important;
  }
}

footer {
    display: block;
    position: relative;
    color: #ffffff;
    font-size: 0.857rem;
    line-height: 120%;
}
footer .box {
    height: 100%;
    display: block;
    position: relative;
    padding-right: 0.714rem;
}

footer .box:before {
    height: 100%;
    width: 0.143rem;
    background-color: #FFF;
    content: "";
    position: absolute;
    right: 0.714rem;
    top: 0;
    display: block;
}

footer .box.last:before {
    display: none;
}

footer .social ul li a {
    display: inline-block;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    color: #525356;
    background-color: #FFF;
    text-align: center;
    line-height: 46px;
    width: 46px;
    height: 46px;
    font-size: 35px;
    border: 0.143rem solid #FFF;
}

footer .social ul li a:hover {
    border-color: #FFF;
    background-color: #525356;
    color: #FFF;
}

footer .address {
    font-size: 0.964rem;
    line-height: 125%;
}

.footer-menu a{
	color: #fff;
	text-transform: capitalize;
}
.footer-menu a:hover{
    color: #e65225;
    text-transform: capitalize;
}

.footer-menu ul li{
	margin-right: 4rem;
    display: inline-block;
    font-size: 16px;

  @include media-breakpoint-down(md) {
    margin-left: 18px;
    display: block;
    margin-right: 0;
    line-height: 30px;
    font-size: 14px;
  }

}
.footer-menu ul li:last-child{
	margin-right: 0;
}
.footer-top{
   background-color: #e65225;
   padding: 3.500rem;
}
.image-foo:before{
    display: inline-block;
    content: "";
    background-image: url(images/Footer_Picture.png);
    width: 680px;
    height: 570px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: 100%;
}
.h-275 {
    height: 275px;
}
.footer-bottom{
  p {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.27;
    letter-spacing: normal;
    text-align: left;
  }
  a {
    color: #fff;
  }

  background-color: #414042;
  padding: 6rem;
  color: #fff;
}

footer .privacy a{
    color: #b1b1b1;
}
footer .privacy a:hover{
    color: #e65225;
}

.image-foo {
  h2 {
    font-size: 43px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
  }
  p {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
  }
}
.madeby {
    background-color: #414042;
    border-top: 1px solid #727272;
    padding: 2.500rem;
}
.madeby p{
  color: #727272;
  line-height: 24px;
}
/*home*/
.h-779{
	height: 779px;
}
.image-wrap img{
    width: 100%;
    padding-top: 60px;
  @include media-breakpoint-down(sm) {
    padding-top: 0px;
  }

}
.my-cla {
   top: 155px;
}
.margintop {
    margin-top: -87px;

  @include media-breakpoint-down(sm) {
    margin-top: -160px;
  }

}
.image-bg {
	height: 780px;
}
.services-home h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.5;
  letter-spacing: 0.48px;

  .services-home li{
    color: #fff;
  }
}


.paddingleft {
    padding-left: 11rem;
}
.paddingright {
    padding-right: 11rem;
}
.paddingbottom{
    padding-bottom: 8rem;
}
.services-home a{
	color: #ff5221;
}
/*testemonias*/

.testemonias{
    background: #e65225;
    color: #fff;

  h2 {
    font-size: 36px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
  }
}
.slick-slide:focus{
    outline: unset;
}
.slick-dots li button:before {
    width: 15px;
    height: 15px;
    content: '';
    opacity: unset;
    color: transparent;
    border: 3px solid white;
    border-radius: 50%;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
    background: white;
}
.slick-dots {
    position: absolute;
    bottom: 14px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    right: 996px;
}
/*ourwork*/
.text-decoration{
    text-decoration: underline;
}
.ourwork-inside{
    max-width: 88%;
    margin-left: auto;
}

.ourwork-inside .slick-next {
    right: unset;
    left: -119px;
}
.ourwork-inside .slick-prev {
    left: -170px;
}
.ourwork-inside .slick-prev:before,
.ourwork-inside .slick-next:before {
    font-family: 'slick';
    font-size: 45px;
    line-height: 1;
    opacity: .75;
    color: #e65225;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev, .slick-next {
    top: 35%;
}
/*Services*/

.servicesCount span{
  border-bottom: 5px solid #ff5221;
  position: relative;
  bottom: 16px;
  font-size: 61px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.69;
  letter-spacing: 1.34px;
  text-align: center;

  h2 {
    font-size: 35px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
  }
}

.ourClients-services  {
  h2 {
    font-size: 22px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.5;
    letter-spacing: 0.48px;
    text-align: left;
    color: #6d6f72;
  }
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.logo-partners {
    width: 145px;
}

/*Contact*/

.form-control,
.form-control:focus {
    background-color: #FFF;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    border: 0.143rem solid #6D6F72;
    padding: 0.714rem 1.429rem;
    font-size: 0.857rem;
    line-height: 120%;
    color: #525356;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-height: 2.714rem;
    font-weight: 400;
    background-clip: border-box;
}

.form-control.error,
.form-control.error:focus {
    border-color: #F80000!important;
}

.form-control.v2,
.form-control.v2:focus {
    border: 1px solid #E0E0E0;
}

.form-control.error,
.form-control.error:focus,
.form-control.v2.error,
.form-control.v2.error:focus{
    border-color: #F80000;
}
.text-error,
.error {
    font-size: 0.940rem;
    line-height: 120%;
    color: #F80000;
    font-weight: 400!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent!important;
}

.form-control::-webkit-input-placeholder {
    /* Edge */
    color: #cacbca;
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cacbca;
}

.form-control:-moz-placeholder {
    color: #cacbca;
}

.form-control::-moz-placeholder {
    color: #cacbca;
}

.form-control::-ms-input-placeholder {
    color: #cacbca;
}

.form-control::placeholder {
    color: #cacbca;
}

textarea.form-control,
textarea.form-control:focus {
    height: 150px;
    resize: none;
      -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid #6D6F72;
}

/*Optimization*/

@media (max-width: 1366px) {

	.container-small {
	    max-width: 1250px;
	    margin: 0 auto;
	}

}
@media (max-width: 1199.98px) {
    html {
        font-size: 13px;
    }
    .btn {
        white-space: normal;
    }
    .container, .container-small {
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }
    .top-banner .item {
        font-size: 1rem;
    }
    .top-banner .item .h1 {
        font-size: 3.3rem;
    }
}

@media (max-width: 991.98px) {
    html {
        font-size: 12px;
    }
    header,
    header .container {
        padding-left: 0;
        padding-right: 0;
        height: auto;
        z-index: 1000;
    }
    header {
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }
    header .logo {
        text-align: left;
    }
    header .logo,
    header .navigation {
        width: 100%;
    }

    header .logo a {
        margin-left: 20px;
        display: inline-block;
    }
    header .logo a img {
        /* height: ; */
    }
    .hamburger {
        position: absolute;
        padding: 0!important;
        top: -35px;
        right: 20px;
        opacity: 1!important;
        z-index: 100;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    .navbar-collapse {
        position: absolute;
        left: 0;
        top: 10px;
        z-index: 1000;
        width: 100%;
        background-color: #f16122;
        -webkit-box-shadow: 0 .3rem 0.5rem rgba(0, 0, 0, .25);
        -moz-box-shadow: 0 .3rem 0.5rem rgba(0, 0, 0, .25);
        box-shadow: 0 .3rem 0.5rem rgba(0, 0, 0, .25)
    }
    header .navbar-nav .nav-item {
        padding: 0!important;
        width: 100%;
        display: block;
    }
    header .navbar-nav .nav-link,
    header .navbar-nav .nav-item .nav-link,
    header .navbar-nav .btn {
        font-size: 1.125rem;
        line-height: 110%;
        text-align: center;
        text-decoration: none;
        padding: 0.8rem 1.1rem!important;
        color: #FFF;
        font-weight: 600;
        border-top: 1px solid rgba(255, 255, 255, .31);
        width: 100%;
        display: block;
    }
    header .navbar-nav .nav-link:after,
    header .navbar-nav .nav-link:before {
        display: none;
    }
    header .navbar .nav-item:last-child .nav-link {
        font-size: 1.125rem;
        line-height: 110%;
        text-align: center;
        text-decoration: none;
        padding: 0.8rem 1.1rem!important;
        font-weight: 600;
    }
    header .navbar-nav .nav-link:hover,
    header .nav-link:focus,
    header .nav-link:hover {
        background-color: #e15619;
        text-decoration: none!important;
    }
    header .navbar-nav .nav-link.active,
    header .navbar-nav .nav-link.active:hover {
        background-color: #e15619;
        color: #FFF;
        opacity: .8;
    }
    header .main-buttons {
        position: absolute;
        right: 85px;
        top: 50%;
        margin-top: -7px;
    }
    footer .box:before {
        display: none;
    }
    footer .box {
        text-align: center;
    }
 }

@media (max-width: 767px) {
    html {
        font-size: 13px;
     }
    .container {
        padding-left: 20px;
        padding-right: 20px;
        min-width: 100%;
    }
    .home-about,
    .home-products,
    .home-features {
        padding: 3.5rem 0;
    }
    .home-features {
        padding-bottom: 2.5rem;
    }
    .top-banner .item {
        height: 60vw;
        font-size: 1.5vw;
    }
    .top-banner .item .h1 {
        font-size: 4.5vw;
    }
    .btn.more {
        min-height: 2.2rem;
        -webkit-border-radius: 2rem;
           -moz-border-radius: 2rem;
                border-radius: 2rem;
        padding: 0.4rem 1.486rem;
        font-size: 0.900rem;
    }
    .top-banner .item .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    h1,
    .h1 {
        font-size: 2.357rem;
    }

    h2,
    .h2 {
        font-size:  1.9rem;
    }

    h3,
    .h3  {
        font-size: 1.200rem;
    }
    .home-about {
        font-size: 1.2rem;
    }
}

@media (max-width: 575.98px) {
    .home-about,
    .home-products,
    .home-features {
        padding: 2.5rem 0;
    }
    .home-features {
        padding-bottom: 1.5rem;
    }
    footer {
        font-size: 1rem;
    }
    footer .menu li:first-child {
        font-size: 1rem;
    }
    .home-products .h1 {
        letter-spacing: 0.2px;
    }
    .btn.more {
        min-height: 1.6rem;
        -webkit-border-radius: 1.7rem;
           -moz-border-radius: 1.7rem;
                border-radius: 1.7rem;
        width: auto;
        min-width: 80px;
        padding: 0.2rem 1.286rem;
        font-size: 0.700rem;
    }
}

@media (max-width: 450px) {

}

@media (max-width: 370px) {

}



/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    -moz-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #e15619;
}

.pin .hamburger.is-active .hamburger-inner,
.pin .hamburger.is-active .hamburger-inner::before,
.pin .hamburger.is-active .hamburger-inner::after {
    background-color: #e15619;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #6d6f72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: -o-transform;
    -o-transition-property: transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform, -o-transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.1);
       -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.1);
            box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}
.navbar-collapse.collapse .menu-top-menu-container{
	display: none;
}
.navbar-collapse.collapse.show .menu-top-menu-container{
	display: block;
}
/*
   * 3DX
   */

.hamburger--3dx .hamburger-box {
    -webkit-perspective: 80px;
    -moz-perspective: 80px;
    perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
    -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
    -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
    background-color: transparent !important;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    -moz-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    -moz-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}


/*
   * 3DX Reverse
   */

.hamburger--3dx-r .hamburger-box {
    -webkit-perspective: 80px;
    -moz-perspective: 80px;
    perspective: 80px;
}

.hamburger--3dx-r .hamburger-inner {
    -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r .hamburger-inner::before,
.hamburger--3dx-r .hamburger-inner::after {
    -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r.is-active .hamburger-inner {
    background-color: transparent !important;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    -moz-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    -moz-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}


/*
   * 3DY
   */

.hamburger--3dy .hamburger-box {
    -webkit-perspective: 80px;
    -moz-perspective: 80px;
    perspective: 80px;
}

.hamburger--3dy .hamburger-inner {
    -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy .hamburger-inner::before,
.hamburger--3dy .hamburger-inner::after {
    -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy.is-active .hamburger-inner {
    background-color: transparent !important;
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.hamburger--3dy.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    -moz-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    -moz-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}


/*
   * 3DY Reverse
   */

.hamburger--3dy-r .hamburger-box {
    -webkit-perspective: 80px;
    -moz-perspective: 80px;
    perspective: 80px;
}

.hamburger--3dy-r .hamburger-inner {
    -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r .hamburger-inner::before,
.hamburger--3dy-r .hamburger-inner::after {
    -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r.is-active .hamburger-inner {
    background-color: transparent !important;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    -moz-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    -moz-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}


/*
   * 3DXY
   */

.hamburger--3dxy .hamburger-box {
    -webkit-perspective: 80px;
    -moz-perspective: 80px;
    perspective: 80px;
}

.hamburger--3dxy .hamburger-inner {
    -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy .hamburger-inner::before,
.hamburger--3dxy .hamburger-inner::after {
    -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy.is-active .hamburger-inner {
    background-color: transparent !important;
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    -moz-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
}

.hamburger--3dxy.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    -moz-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    -moz-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}


/*
   * 3DXY Reverse
   */

.hamburger--3dxy-r .hamburger-box {
    -webkit-perspective: 80px;
    -moz-perspective: 80px;
    perspective: 80px;
}

.hamburger--3dxy-r .hamburger-inner {
    -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r .hamburger-inner::before,
.hamburger--3dxy-r .hamburger-inner::after {
    -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -o-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r.is-active .hamburger-inner {
    background-color: transparent !important;
    -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
    -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
    transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    -moz-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    -moz-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}


/*
   * Arrow
   */

.hamburger--arrow.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
    -moz-transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
    -moz-transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}


/*
   * Arrow Right
   */

.hamburger--arrow-r.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
    -moz-transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
    -moz-transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}


/*
   * Arrow Alt
   */

.hamburger--arrowalt .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: top 0.1s 0.1s ease, -o-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -moz-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -moz-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -o-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: bottom 0.1s 0.1s ease, -o-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -moz-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -moz-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -o-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
    -moz-transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
    transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
    -webkit-transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: top 0.1s ease, -o-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -moz-transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -moz-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -moz-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -o-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
    -moz-transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
    transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
    -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: bottom 0.1s ease, -o-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -moz-transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -moz-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -moz-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -o-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}


/*
   * Arrow Alt Right
   */

.hamburger--arrowalt-r .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: top 0.1s 0.1s ease, -o-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -moz-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -moz-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -o-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: bottom 0.1s 0.1s ease, -o-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -moz-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -moz-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -o-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
    -moz-transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
    transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
    -webkit-transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: top 0.1s ease, -o-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -moz-transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -moz-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -moz-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -o-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
    -moz-transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
    transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
    -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: bottom 0.1s ease, -o-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -moz-transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -moz-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -moz-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -o-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}


/*
   * Arrow Turn
   */

.hamburger--arrowturn.is-active .hamburger-inner {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.hamburger--arrowturn.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
    -moz-transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrowturn.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
    -moz-transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}


/*
   * Arrow Turn Right
   */

.hamburger--arrowturn-r.is-active .hamburger-inner {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.hamburger--arrowturn-r.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
    -moz-transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrowturn-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
    -moz-transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}


/*
   * Boring
   */

.hamburger--boring .hamburger-inner,
.hamburger--boring .hamburger-inner::before,
.hamburger--boring .hamburger-inner::after {
    -webkit-transition-property: none;
    -o-transition-property: none;
    -moz-transition-property: none;
    transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


/*
   * Collapse
   */

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    -webkit-transition-duration: 0.13s;
    -o-transition-duration: 0.13s;
    -moz-transition-duration: 0.13s;
    transition-duration: 0.13s;
    -webkit-transition-delay: 0.13s;
    -o-transition-delay: 0.13s;
    -moz-transition-delay: 0.13s;
    transition-delay: 0.13s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    -moz-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -o-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -moz-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -moz-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -o-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    -moz-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    -webkit-transition-delay: 0.22s;
    -o-transition-delay: 0.22s;
    -moz-transition-delay: 0.22s;
    transition-delay: 0.22s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
    -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
    -moz-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -o-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -moz-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -moz-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -o-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*------------*/
/* ABOUT US */
/*------------*/

.meetTeam-aboutUs{
    background-color: #e65225;

}
.meetTeam-aboutUs p{
    color: #fff;
    font-weight: bold;
    font-size:	2rem;
    margin: 0 14% 38% 0;
    border-bottom: 5px solid #fff;
    padding: 0 0 20px 32px;
}
/*timeline*/
.text-decoration{
    text-decoration: underline;
}
.timeline-inside{
    max-width: 88%;
    margin-left: auto;
}
.timeline-inside .slick-slide img {
    width: 100%;
}

.timeline-inside .slick-next {
    right: unset;
    left: -119px;
}
.timeline-inside .slick-prev {
    left: -170px;
}
.timeline-inside .slick-prev:before,
.timeline-inside .slick-next:before {
    font-family: 'slick';
    font-size: 45px;
    line-height: 1;
    opacity: .75;
    color: #e65225;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev, .slick-next {
    top: 35%;
}
.timeline_image_bg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
/* .timeline-overlay{
    background-color: rgba(0, 0, 0, 0.8);

} */
.timeline_title{
    font-size: 	1.375rem;
    font-weight: bold;
    color: #fff;
    padding-top: 6rem!important;
    padding-bottom: 6rem;
}
.timeline-wrapper{
    padding:  .4%;
    width: 430px!important;
}
.timeline-content{
    background-color: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 41% 95%, 32% 100%, 24% 95%, 0% 95%);
}
.timeline-txt h4{
    padding: 2% 1%;
    color: #6D6F72;
    font-size: 17px;
    font-weight: normal;
    min-height: 70px;
}

/* Activities */
.text-decoration{
    text-decoration: underline;
}
.activities-inside{
    max-width: 88%;
    margin-left: auto;
}

.activities-inside .slick-next {
    right: unset;
    left: -119px;
}
.activities-inside .slick-prev {
    left: -170px;
}
.activities-inside .slick-prev:before,
.activities-inside .slick-next:before {
    font-family: 'slick';
    font-size: 45px;
    line-height: 1;
    opacity: .75;
    color: #e65225;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev, .slick-next {
    top: 35%;
}
.activities{
    margin: 5% 0%;
}
.activities-title {
    font-size: 	1.375rem;
}
.activities-txt h4{
    font-size: 	1.25rem;
}

/*----------------*/
/* THE TEAM */
/*----------------*/
.team-container{
    padding-top:6%;
    margin-bottom: 5%;
}
.team-header-text{
    font-size: 4.18rem;
    font-weight: bold;
    padding: 5% 11% 0% 0%;
}
.team-header-subtext{
    font-size:1.37rem;
    font-weight: normal;
    padding-right: 11%;
}
.team-wrapper{
    width: 80%;
    margin:0 auto;
}
.team-card{
    border: none!important;
}
.team-card h5{
    font-size: 2.1rem;
    font-weight: 800;
}
.team-card small{
    font-size:1.37rem;
}
.team-card p{
    font-size:1.62rem;
}
.team-card-body{
    padding:0 !important;
}
.team-card-body hr{
    border:none;
    border-top: 6px solid #E65225;
    width: 48%;
    text-align: left;
    margin-left: 0;
}

/*----------------*/
/* PORTFOLIO */
/*----------------*/
.categories{
    position: fixed;
}
.categories ul li{
    list-style-type: none;
    font-size: 20px;
    padding: 12% 0;
    color:#6D6F72;
}
.portfolio-wraper{
    margin-top: 7%;
    margin-bottom: 7%;
}
.categories{
    font-size: bold;
}
/*----------------*/
/* Singe Page Post */
/*----------------*/
.sp-slider-wrapper{
    max-width: 88%;
    margin-left: auto;
}
.sp-slider-wrapper .slick-slide img {
    width: 100%;
}

.sp-slider-wrapper .slick-next {
    right: unset;
    left: -119px;
}
.sp-slider-wrapper .slick-prev {
    left: -170px;
}
.sp-slider-wrapper .slick-prev:before,
.sp-slider-wrapper .slick-next:before {
    font-family: 'slick';
    font-size: 45px;
    line-height: 1;
    opacity: .75;
    color: #e65225;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.post-content-p{
    margin-top: 7rem!important;
}
.singl-post-p-fsize{
    font-size:1.3rem!important;
    line-height: 30px;
}
.single-post-gallery, .relevant_projects{
    width: 80%;
    margin-left: 13.2%;
}
.relevant-projects-heading{
    margin-top: 9rem;
}
.relevant-projects-heading h2{
    font-size: 3.5rem;
}
.paragraph_aboutus {
  font-size: 67px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: right;
}

@media screen and (max-width: 1590px) {
    .heading-banner{
      font-size: 67px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
    }
}
@media screen and (max-width: 1415px) {
    .heading-banner{
      font-size: 67px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      margin-top: 26%;

    }
}
@media screen and (max-width: 1340px) {
    .heading-banner{
      font-size: 67px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      margin-top: 26%;

    }
}
@media screen and (max-width: 1150px) {
    .heading-banner{
        font-size: 3.086rem;
        margin-top: 41%;

    }
}
@media screen and (max-width: 768px) {
    .heading-banner{
        font-size: 4.486rem;
        margin-top: 41%;
    }
    .paddingleft {
        padding-bottom: 2rem;
        padding-left: 0rem;
    }

}

/* ABOUT US RESPONSIVE */
@media screen and (max-width: 1920px) {
    .aboutUs-imgBanner{
        width: 87.5%!important;

    }
}
@media screen and (max-width: 1310px) {
    .paragraph_aboutus{
        font-size: 3.686rem;
    }
}
@media screen and (max-width: 1100px) {
    .meetTeam-aboutUs p {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 991px) {
    .paragraph_aboutus{
        font-size: 3.686rem;
    }
    .aboutUs-banner-wrapper{
        flex-direction: column-reverse;
    }

}
@media screen and (max-width: 766px) {
    .paragraph_aboutus{
        font-size: 3.686rem;
    }
    .aboutUs-banner-wrapper{
        flex-direction: column-reverse;
    }
    .paragraph_aboutus{
        font-size:  3.886rem;
        padding-top: 9%;
    }
    .aboutUs-imgBanner{
        width: 68.5%!important;
        margin-top: 9%;

    }
   .meetTeam-aboutUs{
        justify-content: center!important;
    }

    .meetTeam-aboutUs p {
        font-size: 2rem;
        margin: 9% 0 20% 0;
    }
}

.service-slider {
  min-height: calc(100vh - 90px);

  .image_slider {
    position: absolute;
    bottom: 0;
  }
}

.home_slider {
  min-height: calc(100vh - 90px);

  .home_slider_text {
    min-height: 80vh;
  }
}

.aboutUs-banner-wrapper {
  min-height: calc(100vh - 90px);

  .aboutUs-imgBanner {
    position: absolute;
    bottom: 0;
  }
}

.team {

  min-height: calc(100vh - 90px);

  .team-bannerImg {
    max-height: 65vh;
    overflow: hidden;
    background-color: #c5d7e5;

    img {
      margin: 0 auto;
      top: -110px;
      position: relative;
      width: fit-content;
    }

  }
}

.contact-page {

  min-height: calc(100vh - 90px);

  .image_slider {
    position: absolute;
    bottom: 0;
  }

  .footer-top {
    display: none;
  }

  h5  {
    font-size: 27px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #6d6f72;
  }

  h6 {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: left;
    color: #6d6f72;
  }

  @include media-breakpoint-up(lg) {
    .contact-address {
      padding-top: 100px;
    }
  }

  @include media-breakpoint-down(md) {
    .contact-address {
      padding-top: 100px;
    }
  }

}





